section {
  display: flex;
  flex-wrap: wrap;
}

section.banner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25vh;
}

section.banner > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/fecap-facade.jpg');
  background-position: center;
  background-size: cover;
  opacity: .25;
  z-index: 1;
}

section.banner > h1 {
  position: relative;
  color: white;
  font-size: 2rem;
  text-shadow: 0 2px 3px rgba(0,0,0,.5);
  margin-left: 2rem;
  z-index: 10;
}

section.info {
  width: 100%;
  padding: 0;
  margin: 2rem 0 0;
}

section.info a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  height: 25vh;
  font-size: 5rem;
  text-decoration: none;
  overflow: hidden;
  box-sizing: border-box;
}

section.info a:nth-child(1) {
  border-right: 1px solid white;
}

section.info a:nth-child(2) {
  border-left: 2px solid white;
}

section.info a:nth-child(1) > div {
  background-image: url('../images/fecap-facade2.jpg');
}

section.info a:nth-child(2) > div {
  background-image: url('../images/map-preview.jpg');
}

section.info a > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  opacity: .25;
  z-index: 1;
}

section.info a > i {
  display: block;
  color: white;
}

section h6 {
  width: 100%;
  padding: 0 1rem;
}

section .more {
  flex: auto;
  margin: 1rem 1rem 0 50vw !important;
}
