.app-layout .mdl-layout__drawer-button {
  color: black;
}

.intern {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 2rem;
}

.intern a {
  flex: auto;
}

.intern a:first-child {
  margin-bottom: 1rem;
}

#map {
  height: calc(100vh - (56px + 128px));
}
