.app-layout .mdl-layout__header,
.app-layout .mdl-layout__drawer-button {
  color: white;
}

.app-layout .mdl-layout__drawer-button {
  left: auto;
  right: 0;
}

.app-layout .mdl-layout__drawer {
  left: auto;
  right: 0;
  transform: translate(250px);
}

.app-layout .mdl-layout__drawer.is-visible {
  transform: translate(0);
}

.app-layout .mdl-navigation a {
  font-size: 1.5rem;
}

#loading.hidden {
  display: none;
}

@media (min-width: 600px) {
  html {
    background-color: #333;
  }

  body {
    position: relative;
    max-width: 400px;
    width: auto;
    margin: 0 auto;
    background-color: white;
  }
}

main > header {
  display: flex;
  align-items: center;
  width: 100%;
}

main > header a {
  display: block;
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  color: inherit;
  margin: 4px;
}

main > header h1 {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

main > header s {
  width: 48px;
  min-width: 48px;
  max-width: 48px;
}

#workList {
  width: 100%;
}

#workList li {
  display: flex;
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid rgba(0,0,0,.15);
  overflow: hidden;
}

#workList li:last-child {
  border-bottom: none;
}

#workList li div {
  width: 100%;
}

#workList li h3 {
  margin-top: 0;
}

#workList li h4 {
  margin-bottom: 0;
}

#workList li i {
  font-size: 2rem;
  line-height: 40px !important;
}
